<div data-description="currentday">
  <%= form_for [@tracker, @day] do |f| %>
    <%= render 'common/error_explanation', object: f.object %>
    
    <div class="field">
      <%= f.label :hours_of_sleep, "Hours of sleep (previous night)" %>
      <%= f.text_field :hours_of_sleep %>
    </div>

    <div class="field">
      <%= f.label :hours_of_work, "Hours spent working" %>
      <%= f.text_field :hours_of_work %>
    </div>

    <div class="field">
      <%= f.label :hours_of_leisure, "Hours of leisure time" %>
      <%= f.text_field :hours_of_leisure %>
    </div>

    <div class="field">
      <%= f.label :minutes_spent_exercising, "Minutes spent exercising" %>
      <%= f.text_field :minutes_spent_exercising %>
    </div>

    <div class="field">
      <%= f.label :calories_consumed, "Calories consumed" %>
      <%= f.text_field :calories_consumed %>
    </div>

    <div class="field">
      <%= f.label :alcoholic_drinks, "Number of alcoholic drinks" %>
      <%= f.text_field :alcoholic_drinks %>
    </div>

    <div class="field">
      <%= f.label :happiness_index, "Happiness" %>
      <%= f.text_field :happiness_index %>
    </div>

    <div class="submit">
      <%= f.submit "Create Day" %>
    </div>

  <% end %>
</div>