<div data-role="description">
  
  <h1><%= @tracker.name %></h1>

  <div>Goal Weight: <%= @tracker.goal_weight %></div>

  <div>Happiness on <%= @tracker.created_at %></div>


  <p><%= @tracker.description %></p>

</div>

<%= form_for Activity.new do |f| %>
  <%= f.select %w[Diary Food] %>
<% end %>

<!-- <div class="calender" data-role="calender">
  <input type="text" id="tracker_calender" data-role="datepicker">
</div> -->


