<div data-role="description">
  
  <h1><%= @tracker.name %></h1>

  <div>Goal Weight: <%= @tracker.goal_weight %></div>

  <div>Happiness on <%= @tracker.created_at %></div>


  <p><%= @tracker.description %></p>

</div>

<%= simple_form_for [@tracker, Activity.new] do |f| %>
  <%= f.input :type, as: :select, collection: %w[Diary Food Activity], 
    input_html: { id: "activity_types" } %>
  <%= f.input :start_time, default: Time.now, order: [ :month, :day, :year, :hour ], 
    discard_minute: true, ampm: true %>
  <%= f.input :end_time, default: Time.now + 1.day, order: [ :month, :day, :year, :hour ], 
    discard_minute: true, ampm: true %>
  <%= f.button :submit, "Create Activity" %>
<% end %>

<!-- <div class="calender" data-role="calender">
  <input type="text" id="tracker_calender" data-role="datepicker">
</div> -->


